<div class="col-xs-12-12 col-md-12-12">
    <div class="row show-grid">
        <div class="col-xs-12-12 col-md-6-12">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">

                    <div class="pattern-preview" id="brand-accordion-standard">
                        <div aria-multiselectable="true" class="brand-accordion panel-group" id="accordion" role="tablist">
                            <div class="panel panel-default">
                                <div aria-controls="collapseOne" aria-expanded="false" class="panel-heading collapsed" data-toggle="collapse" href="#collapseOne" id="headingOne" role="tab"><svg class="ihs-icon-arrow hasUse">
                                <use xlink:href="assets/css/csspatternlibrary3@3.0.3/svg/icons-latest.svg#ihs-icon-arrow"></use>
                              </svg><span class="panel-title"> Buy it </span></div>
                                <div aria-expanded="true" aria-labelledby="headingOne" class="panel-collapse collapse" id="collapseOne" role="tabpanel" style="">
                                    <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                                </div>
                                <div aria-controls="collapseTwo" aria-expanded="false" class="panel-heading collapsed" data-toggle="collapse" href="#collapseTwo" id="headingTwo" role="tab"><svg class="ihs-icon-arrow hasUse">
                                                <use xlink:href="assets/css/csspatternlibrary3@3.0.3/svg/icons-latest.svg#ihs-icon-arrow"></use>
                              </svg><span class="panel-title"> Use it </span></div>
                                <div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
                                    <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                                </div>
                                <div aria-controls="collapseThree" aria-expanded="false" class="panel-heading collapsed" data-toggle="collapse" href="#collapseThree" id="headingThree" role="tab"><svg class="ihs-icon-arrow hasUse">
                                                <use xlink:href="assets/css/csspatternlibrary3@3.0.3/svg/icons-latest.svg#ihs-icon-arrow"></use>
                              </svg><span class="panel-title"> Break it </span></div>
                                <div aria-labelledby="headingThree" class="panel-collapse collapse" id="collapseThree" role="tabpanel">
                                    <div class="panel-body"> Third cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12-12 col-md-6-12">
            <div class="row show-grid">
                <div class="col-xs-12-12 col-md-4-12">
                    <div class="ew-card  version-home">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1>Inprogress Jobs</h1><span class="small pull-right">125600</span></div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12-12 col-md-4-12">
                    <div class="ew-card IHS-Color-G9 version-home">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1>Completed Jobs</h1><span class="small pull-right">55600</span></div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12-12 col-md-4-12">
                    <div class="ew-card IHS-Color-G9 version-home">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1>In Critical State</h1><span class="small pull-right">125600</span></div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12-12 col-md-6-12">
            <div class="panel panel-default">
                <div class="panel-heading">Custom Multiselect</div>
                <div class="panel-body">
                    <div class="row show-grid">
                        <div class="col-xs-12-12 col-md-6-12">

                            <div>
                                <form class="bs-component">

                                    <div class="form-group has-feedback"><label class="control-label" for="inputDefault">Full Name</label>
                                        <div class="input-group"><input class="form-control" id="inputDefault" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"><label class="control-label" for="inputDefault">Class Name</label>
                                        <div class="input-group"><input class="form-control" id="inputDefault" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"><label class="control-label" for="inputDefault">Skills</label>
                                        <div class="input-group">
                                            <app-custom-autocomplete (handelItemSelection)="handelItemAction($event)"></app-custom-autocomplete>
                                        </div>
                                    </div>


                                </form>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12-12 col-md-6-12">
            <app-event-list></app-event-list>
        </div>
    </div>

</div>