<div class="col-xs-12-12 col-md-12-12">
    <div class="row show-grid">
        <div class="col-xs-12-12 col-md-6-12">
            <app-grid-list></app-grid-list>
        </div>
        <div class="col-xs-12-12 col-md-6-12">
            <app-custom-cell-render></app-custom-cell-render>
        </div>
        <div class="col-xs-12-12 col-md-6-12">
            <app-cellediting-container></app-cellediting-container>
        </div>
        <div class="col-xs-12-12 col-md-6-12">
            <app-row-grouping></app-row-grouping>
        </div>
       
    </div>
</div>