<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action  sidebar-menu-item">
            <svg class="ihs-icon-my-dashboard-2 side-menu-icon">
                <use xlink:href="assets/css/csspatternlibrary3@3.0.3/svg/icons-latest.svg#ihs-icon-my-dashboard-2">
                </use>
            </svg>Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action  sidebar-menu-item">
            <svg class="ihs-icon-where-used side-menu-icon">
                <use xlink:href="assets/css/csspatternlibrary3@3.0.3/svg/icons-latest.svg#ihs-icon-where-used"></use>
            </svg>Locations</a>
        <a href="#" class="list-group-item list-group-item-action  sidebar-menu-item">
            <svg class="ihs-icon-switch-list side-menu-icon">
                <use xlink:href="assets/css/csspatternlibrary3@3.0.3/svg/icons-latest.svg#ihs-icon-switch-list"></use>
            </svg>Overview</a>
        <a href="#" class="list-group-item list-group-item-action  sidebar-menu-item">
            <svg class="ihs-icon-admin-group side-menu-icon">
                <use xlink:href="assets/css/csspatternlibrary3@3.0.3/svg/icons-latest.svg#ihs-icon-admin-group"></use>
            </svg>Profiles</a>
        <a href="javascript:void(0);" [routerLink]="['grid']" class="list-group-item list-group-item-action  sidebar-menu-item">
            <svg class="ihs-icon-note side-menu-icon">
                <use xlink:href="assets/css/csspatternlibrary3@3.0.3/svg/icons-latest.svg#ihs-icon-note"></use>
            </svg>Reports</a>
        <a href="#" class="list-group-item list-group-item-action  sidebar-menu-item">
            <svg class="ihs-icon-switch-list side-menu-icon">
                <use xlink:href="assets/css/csspatternlibrary3@3.0.3/svg/icons-latest.svg#ihs-icon-switch-list"></use>
            </svg>Status</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->