<div class="row" style="display: contents;">
    <div class="bg-light head-bar" id="nav-menu">
        <div style="display: inline-flex;width:auto">
            <span id="menu-toggle" class="brand-name-text">Brand Name</span>
        </div>
        <div class="pull-right right-menu-bar">
            <ul id="right-menu">
                <li class="dropdown top-5px"><a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle white-color" data-toggle="dropdown" href="#" role="button"> Actions 
                      <svg class="ihs-icon-arrow rotate-270 hasUse">
                        <use xlink:href="assets/css/csspatternlibrary3@3.0.3/svg/icons-latest.svg#ihs-icon-arrow"></use>
                </svg></a>
                    <ul class="dropdown-menu sub-menu-list" x-placement="bottom-start" style="min-width: 100% !important;">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else </a></li>
                        <li class="divider" role="separator"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider" role="separator"></li>
                        <li><a href="#">One more  link</a></li>
                    </ul>
                </li>
                <li class="nav-item active">
                    <a class="nav-link white-color" href="#">
                        <svg class="ihs-icon-admin header-menu-icons">
                                <use xlink:href="assets/css/csspatternlibrary3@3.0.3/svg/icons-latest.svg#ihs-icon-admin"></use>
                                </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white-color" href="#">
                        <svg class="ihs-icon-notification-bell header-menu-icons">
                                <use xlink:href="assets/css/csspatternlibrary3@3.0.3/svg/icons-latest.svg#ihs-icon-notification-bell"></use>
                                </svg>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>