<div class="row" style="display: contents;">
    <app-header-component></app-header-component>
</div>
<div class="d-flex" id="wrapper">
    <app-sidebar-component></app-sidebar-component>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="b-cum">
                <app-breadcrumb></app-breadcrumb>
            </div>
            <div class="panel panel-default panel-default-css" id="containerPanel">
                <div class="panel-body">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div>
</div>